venv/
venv/
.venv/
__pycache__/
deploy.prototxt/
/home/bini-chand/workspace/hacks/Yoga-Posture-Correction/res10_300x300_ssd_iter_140000.caffemodel/
/home/bini-chand/workspace/SIC/hacks/Yoga-Posture-Correction/venv
